#buttonHolder img {
  display: block;
  margin: 0;
}
html,
body,
#root,
.wrapper {
  height: 100%;
}

body {
  background-color: #eceff1;
}

header. * {
  height: 100%;
}

main {
  height: 80%;
}

.no-profile-found {
  margin-top: 10%;
}

#go-back-home {
  color: white;
}

.content {
  height: 100%;
  margin-top: 1%;
}

.suspect-info {
  background-color: white;
  border-radius: 10px;
}

.comment-section {
  background-color: white;
  border-radius: 10px;
  min-height: 60%;
}

.vertical-align {
  padding-top: 15%;
}

.follow {
  margin-top: 21%;
  width: 100%;
}
#textarea2 {
  padding-bottom: 0;
}

.comment-input {
  margin-bottom: 0;
}

.comment-button {
  width: 100%;
}

.clicky-trash {
  cursor: pointer;
}

i.clicky-trash {
  color: #263238;
}

.clicky-star {
  cursor: pointer;
}

i.clicky-star {
  color: #ffd600;
}

.comment-user {
  color: #263238;
}
