#buttonHolder img {
  display: block;
  margin: 0;
}
html,
body,
#root,
.wrapper {
  height: 100%;
}

body {
  background-color: #263238;
}

header a,
i {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
main {
  height: 80%;
}

#go-back-home {
  color: black;
}

#go-back-home:hover {
  color: #90a4ae;
}

.content {
  height: 100%;
  margin-top: 2%;
}

.suspect-info {
  background-color: #455a64;
  border-radius: 10px;
  height: 27%;
}

.comment-section {
  background-color: #263238;
  border-radius: 10px;
  height: 30%;
  color: #eceff1;
}

.vertical-align {
  padding-top: 10%;
}

.follow {
  margin-top: 13%;
  width: 100%;
}
#textarea2 {
  padding-bottom: 0;
}

.comment-input {
  margin-bottom: 0;
}

.comment-button {
  width: 100%;
}

.clicky-trash {
  cursor: pointer;
}

i.clicky-trash {
  color: #cfd8dc;
}

i.clicky-trash:hover {
  color: red;
}

.clicky-star {
  cursor: pointer;
}

i.clicky-star {
  color: #ffd600;
}

i#star-1 {
  color: #cfd8dc;
}

i#star-1:hover {
  color: #ffd600;
}

i#star-2 {
  color: #ffd600;
}

i#star-2:hover {
  color: #cfd8dc;
}

.searchIcon {
  cursor: pointer;
}

input#search.center {
  padding: 0;
  width: 100%;
}

.upper-text {
  margin-bottom: 0px;
}

#main-search {
  padding-left: 10px;
  padding-right: 5px;
}

a.highlight {
  color: #eceff1;
}

i.searchIcon {
  color: #eceff1 !important;
}

a.highlight:hover {
  color: #4db6ac;
}

i.searchIcon:hover {
  color: #4db6ac !important;
}

nav * {
  height: 100%;
}

.main-text {
  color: #eceff1;
}

.secondary-text {
  color: #cfd8dc;
}

i.filter-icon {
  color: #eceff1 !important;
}

.collection-item {
  border-color: #263238 !important;
}

.collection {
  border-color: #263238;
}

.word-wrap {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  word-wrap: break-word;
}
