#buttonHolder img {
  display: block;
  margin: 0;
}
html,
body,
#root,
.wrapper {
  height: 100%;
}

body {
  background-color: #263238;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header a,
i {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

main {
  flex: 1 0 auto;
  min-height: 90vh;
}

#go-back-home {
  color: #90a4ae;
}

#go-back-home:hover {
  color: white;
}

.content {
  height: 100%;
  margin-top: 2%;
}

.suspect-info {
  background-color: #455a64;
  border-radius: 10px;
  height: 27%;
}

.comment-section {
  background-color: #263238;
  border-radius: 10px;
  height: 30%;
  color: #eceff1;
}

.vertical-align {
  padding-top: 11%;
}

.follow {
  margin-top: 13%;
  width: 100%;
}
#textarea2 {
  padding-bottom: 0;
}

.comment-input {
  margin-bottom: 0;
}

.comment-button {
  width: 100%;
}

i#trash {
  color: #cfd8dc;
}

i#trash:hover {
  color: red;
}

i.clicky-star {
  color: #ffd600;
}

i#star-1 {
  color: #cfd8dc;
}

i#star-1:hover {
  color: #ffd600;
}

i#star-2 {
  color: #ffd600;
}

i#star-2:hover {
  color: #cfd8dc;
}

input#search.center {
  padding: 0;
  width: 100%;
}

.upper-text {
  margin-bottom: 0px;
}

#main-search {
  padding-left: 10px;
  padding-right: 5px;
}

a.highlight {
  color: #eceff1;
}

i.searchIcon {
  color: #eceff1 !important;
}

a.highlight:hover {
  color: #ffab40;
}

.highlight:hover {
  color: #ffab40;
}

i.searchIcon:hover {
  color: #ffab40 !important;
}

.main-text {
  color: #eceff1;
}

.secondary-text {
  color: #cfd8dc;
}

i.filter-icon {
  color: #eceff1 !important;
}

.collection-item {
  border-color: #263238 !important;
}

.collection {
  border-color: #263238;
}

.word-wrap {
  word-wrap: break-word;
}

.newlines {
  white-space: pre-line;
}

.contrast {
  color: #ffab40;
}

#contrast {
  color: #ffab40;
}

#contrast:hover {
  color: #ffd180;
}

/* label focus color */
.input-field input[type='text']:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #bdbdbd !important;
}

/* label underline focus color */
.input-field input[type='text']:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #bdbdbd !important;
  box-shadow: 0 1px 0 0 #bdbdbd !important;
}

.clicky {
  cursor: pointer;
}

#account-image img {
  height: 184px;
  width: 100%;
}

li.li-exception {
  margin-bottom: 5% !important;
}

.lookout:hover {
  color: #ffab40;
}

.no-margin {
  margin: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.remove-report {
  color: #ffab40;
}

.remove-report:hover {
  color: #ffd180;
}

.big-text {
  font-size: 210%;
}

.add-margin {
  margin: 2%;
}
